header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2f384a;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
  }
  
  .logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .logo span {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .navigation {
    display: flex;
    gap: 20px;
  }
  
  .navigation .link {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease;
    cursor: pointer;
  }
  
  .navigation .link:hover {
    color: #61dafb;
  }
.navigation .link.active{
  background-color: #0517f3;
  padding: 3px 6px;
  border-radius: 7px;
}
  
  /* Responsive design for smaller screens */
  @media (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navigation {
      margin-top: 10px;
      flex-direction: column;
      gap: 10px;
    }
  }
  